.card-container{
  width: 200px;
  height: 600px;
  border-radius: 14px;
  padding: 20px 10px;
}

.w-100{
  width: 100% !important;
}

.w-80{
  width: 80% !important;
}

.w-50{
  width: 50% !important;
}

.p-small{
  padding: 20px !important;
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-content-end{
  justify-content: end !important;
}

.justify-content-space-between{
  justify-content: space-between !important;
}

.margin-x-small{
  margin: 0px 20px;
}

.margin-y-small{
  margin: 20px 0px;
}

.margin-small{
  margin: 20px;
}

.background-pink{
  background-color: rgb(248, 177, 177) !important;
}

.background-blue{
  background-color: rgb(181, 240, 247) !important;
}

.background-green{
  background-color: rgb(199, 255, 201) !important;
}

.background-yellow{
  background-color: rgb(242, 247, 183) !important;
}
.background-white{
  background-color: rgb(255, 255, 255) !important;
}


.pink{
  color: rgb(255, 120, 120) !important;
}

.blue{
  color: rgb(80, 195, 252) !important;
}

.green{
  color: rgb(74, 224, 79) !important;
}

.yellow{
  color: rgb(196, 190, 40) !important;
}

.task-container{
  background-color: #fff !important;
  border-radius: 6px;
  width: 90%;
  height: auto; 
  z-index: 10 !important;
  padding: 10px;
  margin-bottom: 3%;
}

.button-primary{
  background-color: rgb(115, 115, 250) !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.button-primary:hover{
  background-color: rgb(69, 69, 146) !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.button-secondary{
  background-color: #e1e1e1 !important;
  color: #1565c0 !important;
  text-transform: capitalize !important;
  border-radius: 4px !important;
}

.button-secondary:hover{
  background-color: #bdbdbd !important;
  color: #1565c0 !important;
}

.card-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}